*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# ignore for appintro module


appintro/build/intermediates/incremental/mergeDebugJniLibFolders/

appintro/build/intermediates/incremental/mergeDebugShaders/

appintro/build/intermediates/incremental/packageDebugAssets/

appintro/build/intermediates/incremental/packageDebugResources/

appintro/build/intermediates/manifest_merge_blame_file/debug/

appintro/build/kotlin/compileDebugKotlin/caches-jvm/inputs/

appintro/build/kotlin/compileDebugKotlin/caches-jvm/jvm/kotlin/

appintro/build/kotlin/compileDebugKotlin/caches-jvm/lookups/

appintro/build/outputs/logs/

appintro/build/intermediates/aar_main_jar/debug/

appintro/build/intermediates/annotations_typedef_file/debug/

appintro/build/intermediates/incremental/debug-mergeJavaRes/

appintro/build/intermediates/incremental/debug-mergeNativeLibs/

appintro/build/intermediates/merged_consumer_proguard_file/debug/

appintro/build/intermediates/merged_java_res/debug/

appintro/build/outputs/aar/

appintro/build/.transforms/

appintro/build/intermediates/compiled_local_resources/debug/out/

appintro/build/kotlin/compileDebugKotlin/
